body {background-color: #003049} 

p {color: #FDF0D5; font-family: cursive}

h1 {color: #669BBC; text-align: center; font-family: cursive}

h2 {color: #669BBC; text-align: center;font-family: cursive}